<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>
	
	<!-- add icon link -->
	<link rel="icon" href="/static/assets/images/AEB_free-file.png" type="image/icon type">
	<!-- add icon link end -->



    <!-- Additional CSS Files -->
	<link rel="stylesheet" href="{{ url_for('static',filename='assets/css/templatemo-training-studio.css') }}">
	
    </head>

    {% block content %}
    {% endblock %}
	
</html>